.App {
  padding: 0;
  /*margin: 0;*/
  text-align: center;
  width:100%;
  height: 100%;
  background-color: #212121;
  color: #00ffff;
  /*font-size: 30px;*/
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-3 {
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  align-items: center;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}


/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

.App-link {
  color: #61dafb;
}

.ld-button {
  background-color: #00ffff;
  margin: 5px;
  padding: 5px 10px;
  color: #000000;
  border-width: 0;
  border-radius: 5px;
}

.dice-image {
  width: 50px;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


